<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jennie.eventreporter">

    <!-- for security, 当你要install app的时候，需要先check permission,看看是否可以install -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 当install的时候还需要check你的hardware是不是可以install这个app，是不是符合要求 -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4J0m4HNO1kBleC-k8yctXjpsJ7SpURNA" />

        <!-- theme就是app的风格 -->
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEND" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:mimeType="text/plain" /> -->
            <!-- </intent-filter> -->
        </activity>



        <activity android:name=".EventActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".EventReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name=".CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
            <service
                android:name=".MyFirebaseMessagingService"
                tools:ignore="WrongManifestParent">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
            <service
                android:name=".MyFirebaseInstanceIDService"
                tools:ignore="WrongManifestParent">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                </intent-filter>
            </service>


    </application>

</manifest>
<!--service是长期运行在后台的程序，在安卓就是一个process，通过bindle的方法，将你的application通过RPC连接到service上面-->